* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

figure {
    margin-bottom: 30px;
}

body {
    background-color: #F7981D;
    height: 100vh;
}

div.imagens {
    height: 100vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}