<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/codigo_geladeira.css">
    <title>AMBEV</title>
</head>
<body>
    <header class="head">
        <figure class="img-header">
            <img src="/media/yellow_header.svg" alt="Header image">
        </figure>
        <figure class="img-header-absolute">
            <img src="/media/ambev_logo.svg" alt="Logo Ambev">
        </figure>
    </header>
    <form class="codigo-geladeira">
        <input type="number">
        <input type="number">
        <input type="number">
        <input type="number">
    </form>
    <p class="informacao">Verifique o código da geladeira que deseja <br> comprar o produto.</p>
    <button class="button-confirmar" type="submit">CONFIRMAR</button>
    
    <figure class="img-header">
            <img src="/media/beers.svg" alt="Cervejas">
            <figcaption><strong>Meeting</strong></figcaption>
    </figure>
    <p class="login"><strong>Já possui uma conta? </strong><a href="#">Entrar</a></p>
    <button class="button-criar-conta" type="submit">CONFIRMAR</button>
</body>
</html>