<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/codigo_geladeira.css">
    <title>AMBEV</title>
</head>
<body>
    <header class="head">
        <figure class="img-header">
            
            <figcaption></span><span>Codigo Geladeira</span></figcaption>
            <img src="/media/blue_header_small.svg" alt="Header image">
        </figure>
        <a href="/templates/selecao_ligacao.html"><img class="left-arrow" src="/media/arrow-right.svg" alt="Seta para esquerda"></a>
        <form action="/templates/selecao_logado.html">
            <img class="dots-vertical" src="/media/menu.svg" alt="configuraçoes">
        </form>
        
    </header>
    <div class="flex">
        <form class="codigo-geladeira">
            <input type="number" maxlength="1">
            <input type="number" maxlength="1">
            <input type="number" maxlength="1">
            <input type="number" maxlength="1">
            
        </form>
        <p class="informacao">Verifique o código da geladeira que deseja <br> comprar o produto.</p>
        <form action="/templates/pagamento_realizado.html"> 
            <button class="button-confirmar" type="submit">CONFIRMAR</button>
        </form>
    </div>
    
    
</body>
</html>