<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/confirmacao.css">
    <title>AMBEV</title>
</head>

<body>
    <header class="head">
        <figure class="img-header">
            <img src="/media/yellow_header_small.svg" alt="Header image">
        </figure>
        <a href="/templates/cadastro.html"><img class="left-arrow" src="/media/arrow-right.svg" alt="Seta para esquerda"></a>
        <img class="dots-vertical" src="/media/menu.svg" alt="configuraçoes">

    </header>

    <div>
        <p class="confirmacao">Antes de continuar...<br> Você tem 18 anos ou mais?</p>
        <form action="/templates/selecao_logado.html">
            <button class="button-sim" type="submit">SIM</button>
        </form>
        <form action="/templates/.html">
            <button class="button-nao" type="submit">NÃO</button>
        </form>
    </div>


</body>

</html>