<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">

    <title>AMBEV</title>

    <script src="/scripts/auto-complete.js"></script>
</head>

<body>
    <header class="head">
        <figure class="img-header">

            <figcaption></span><span>Login</span></figcaption>
            <img src="/media/yellow_header_small.svg" alt="Header image">
        </figure>

        <a href="/templates/selecao_ligacao.html"><img class="left-arrow" src="/media/arrow-right.svg"
                alt="Seta para esquerda"></a>


        <img class="dots-vertical" src="/media/menu.svg" alt="configuraçoes">


    </header>

    <form action="/templates/selecao_logado.html">
        <input class="input-text" type="email" placeholder="Email" required></input>
        <input class="input-text" type="password" placeholder="Senha" required></input>
        <button class="button-cadastrar" type="submit">Entrar</button>
    </form>

</body>

</html>