<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/manutencao_blue.css">

    <title>AMBEV</title>

    <script src="/scripts/auto-complete.js"></script>
</head>

<body>
    <header class="head">

        <a href="/templates/start_pontuacao.html"><img class="left-arrow" src="/media/arrow-right.svg"
                alt="Seta para esquerda"></a>

        <form action="/templates/confirmacao.html">
            <img class="dots-vertical" src="/media/menu.svg" alt="configuraçoes">
        </form>

    </header>

    <form>
        <p class="informacao">Página em <br> Manutenção</p>
        <img src="/media/manutencao.svg" alt="">
    </form>



</body>

</html>