<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pagamento_negado.css">
    <title>AMBEV</title>
</head>

<body>
    <header class="head">
        <figcaption></span><span>Ocorreu um Erro<br> Tente Novamente</span></figcaption>
        <figure class="img-header">
            <img src="" alt="">
            <img src="/media/blue_header_small.svg" alt="Header image">
        </figure>
        <img class="left-arrow" src="/media/arrow-right.svg" alt="Seta para esquerda">
        <img class="dots-vertical" src="/media/dots-vertical.svg" alt="configuraçoes">

    </header>

    <div class="flex">
        <img src="/media/Negative_icon.svg" alt="">
        <p class="realizado">$30.49 Amount <br>not deducted from your card</p>
        <p class="informacao"><strong>Declaration:</strong> scale turnkey outsourcing after multidisciplinary leadership skills. Interactively engineer 24/7 paradigms vis-a-vis cross functional value. Conveniently streamline distinctive bandwidth through vertical imperatives. Progressively drive.</p>
        <button type="submit">Voltar para geladeira</button>
    </div>

</body>

</html>