<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pagamento.css">
    
    <title>AMBEV</title>
</head>
<body>
    <header class="head">
        <figure class="img-header">
            
            <figcaption></span><span>Forma de Pagamento</span></figcaption>
            <img src="/media/blue_header_small.svg" alt="Header image">
        </figure>
        <a href="/templates/produtos_amostra.html"><img class="left-arrow" src="/media/arrow-right.svg" alt="Seta para esquerda"></a>
        <img class="dots-vertical" src="/media/menu.svg" alt="configuraçoes">
        
    </header>

    <div class="flex">
        <p class="informacao"><strong>Cartão de crédito/débito</strong></p>
        <p class="informacao-uso">Para utilizar débito, consulte as contiçoes <br> de uso.</p>
        <div class="grid">
            <img src="/media/visa.svg" alt="">
            <img src="/media/unionpay.svg" alt="">
            <img src="/media/union.svg" alt="">
            <img src="/media/mastercard.svg" alt="">
        </div>
        <input class="numero-cartao" type="text" name="" id="" placeholder="Número do cartão">
        <div class="space">
            <input class="info-cartao_1" type="text" name="" id="" placeholder="Validade">
            <input class="info-cartao_1" type="text" name="" id="" placeholder="CVV">
        </div>
        <input class="info-cartao_2" type="text" name="" id="" placeholder="Nome do Titular">
        <input class="info-cartao_2" type="text" name="" id="" placeholder="CPF/CNPJ">
        <form action="/templates/codigo_geladeira.html">
            <button type="submit">Salvar</button>
        </form>
    </div>
    
    
</body>
</html>