<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/produtos.css">
    <title>AMBEV</title>
</head>

<body>
    <header class="head">
        <figcaption></span><span>Cadastre-se</span></figcaption>
        <figure class="img-header">
            <img src="" alt="">
            <img src="/media/blue_header_small.svg" alt="Header image">
        </figure>
        <img class="left-arrow" src="/media/arrow-right.svg" alt="Seta para esquerda">
        <img class="dots-vertical" src="/media/dots-vertical.svg" alt="configuraçoes">
        
    </header>
    
    <div class="flex">

        <figure class="search-figure">
            <img class="lupa" src="/media/lupa.svg" alt="">
            <input class="search" type="text" placeholder="Digite o produto">
            <img class="voz" src="/media/voz.svg" alt="">
        </figure>

      

        
        <div class="grid">
            <a href="#"><span class="border">Cervjas</span></a>
            <a href="#"><span class="border">Agua</span></a>
            <a href="#"><span class="border">Refigerante</span></a>
            <a href="#"><span class="border">Produtos Parceiros</span></a>
            <a href="#"><span class="border">Sucos</span></a>
            <a href="#"><span class="border">Ajuda</span></a>
        </div>
    </div>


</body>

</html>