<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/produtos_amostra.css">
    <title>AMBEV</title>
</head>

<body>
    <header class="head">
        <figcaption></span><span>Carrinho</span></figcaption>
        <figure class="img-header">
            <img src="" alt="">
            <img src="/media/blue_header_small.svg" alt="Header image">
        </figure>
        <a href="/templates/produtos.html"><img class="left-arrow" src="/media/arrow-right.svg" alt="Seta para esquerda"></a>
        <img class="dots-vertical" src="/media/menu.svg" alt="configuraçoes">

    </header>

    <div class="flex">
        <div class="grid">
            <img src="/media/beer.svg" alt="" class="produto">
            <p class="nome_produto">Golden Fruit Jam</p>
            <span class="quantidade">01</span>
            <span class="preco">R$30,00</span>
            <img src="/media/Cross.svg" alt="fechar" class="close_button">
        </div>
        <div class="grid">
            <img src="/media/beer.svg" alt="cerveja" class="produto">
            <p class="nome_produto">Golden Fruit Jam</p>
            <span class="quantidade">01</span>
            <span class="preco">R$30,00</span>
            <img src="/media/Cross.svg" alt="fechar" class="close_button">
        </div>
        
    </div>
    <div class="pagamento">
        <p class="total">Total</p>
        <p class="preco">R$30.49</p>
        <button type="submit">Pagamento</button>
    </div>


</body>

</html>