<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/selecao_ligacao.css">
    <title>AMBEV</title>
</head>

<body>
    <header class="head">
        <figure class="img-header">
            <img src="/media/Logo-header.svg" alt="Header image">
        </figure>
    </header>

    <div class="flex">
        <a href="cadastro.html"><button type="submit" style="background-color: #F7981D;">Criar uma conta</button></a>
        <a href="produtos.html"><button type="submit" style="background-color: #21409A;">Geladeira</button></a>
        <button type="submit" style="background-color: #F03D5F;">Meeting</button>
        <button type="submit" style="background-color: #06A088;">Pontuação</button>
        <p class="login" style="margin-top: 50px;">Já possui uma conta? <a href="#">Entrar</a></p>
    </div>


</body>

</html>