<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/selecao_logado.css">
    <title>AMBEV</title>
</head>

<body>
    <header class="head">
        <figure class="img-header">
            <img src="/media/Logo-header.svg" alt="Header image">
        </figure>
    </header>

    <div class="flex">
        
        <form action="/templates/start_geladeira.html">
            <button type="submit" style="background-color: #21409A;">Geladeira</button>
        </form>
        <form action="/templates/start_meeting.html">
            <button type="submit" style="background-color: #F03D5F;">Meeting</button>
        </form>
        <form action="/templates/start_pontuacao.html">
            <button type="submit" style="background-color: #06A088;">Pontuação</button>
        </form>
       

    </div>


</body>

</html>