<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/start_page.css">
    <title>AMBEV</title>
</head>
<body>
    <div class="imagens">
        <figure>
            <img  src="/media/ambev_logo.png" alt="ambev logo">
        </figure>
        <figure>
            <img src="/media/character.svg" alt="Desenho Homem">
            
        </figure>
        <a href="/templates/selecao_ligacao.html">Entrar</a>
    </div>
</body>
</html>