<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/start_pontuacao.css">
    <title>AMBEV</title>
</head>
<body>
    <div class="imagens">
        <figure>
            <img class="logo-ambev" src="/media/ambev_logo_grande.svg" alt="">
        </figure>
        <figure>
            <figcaption></span><span>Pontuacao </span></figcaption>
            <img src="/media/capa_pontuacao.svg" alt="">
        </figure>
        <div class="flex">
            <p class="mensagem">Troque seus pontos por prêmios</p>
            <button type="submit">Entrar</button>
        </div>
    </div>
</body>
</html>