<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/start_geladeira.css">
    <title>AMBEV</title>
</head>
<body>
    <div class="imagens">
        <figure>
            <img class="logo-ambev" src="/media/ambev_logo_grande.svg" alt="">
        </figure>
        <figure>
            <figcaption></span><span>Geladeira</span></figcaption>
            <img src="/media/capa_geladeira.svg" alt="">
        </figure>
        <div class="flex">
            <button type="submit">Produtos</button>
            <button type="submit">Geladeiras proximas</button>
        </div>
    </div>
</body>
</html>