<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/start_meeting.css">
    <title>AMBEV</title>
</head>

<body>
    <header class="head">
        <figure class="img-header">
            <img src="/media/Logo-header-pink.svg" alt="Header image">
        </figure>
    </header>

    <div class="flex">
        <img src="/media/capa_meeting.svg" alt="">
        <button type="submit">Entre no Chat</button>
        
    </div>


</body>

</html>