html, body {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  
  input {
    
    width: 300px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 50px;
    font-size: 14px;
    border-radius: 15px;
    
  }

  input.size-input {
    
    width: 330px;
  }
  
  /* Botao enviar */
  button {
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    
  }
  
  .messages {
    width: 300px;
    height: 400px;
    margin: 20px 0;
    padding: 20px;
    color: #ddd;
  }
  .message {
    margin-bottom: 30px;
    background-color: #33535F;
    padding: 10px;
    border-radius: 15px;
  }

  div.write {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

  button.plus {
    position: absolute;
    left: 10px;
    bottom: 18px;
    font-size: 30px;
    color: rgb(182, 182, 182);
    border:none;
    background-color: #fff;
    
    
  }

  /* corrigir aqui, nao esta aparecendo a foto */
  span#plus {
    
    background-image: url('/media/plus.svg') no-repeat;
    width: 10px;
    height: 10px;

  }

  /* form {
    display: flex;
    justify-content: center;
    align-items: center;
  } */